<% layout("/layouts/boilerplate") %>

<div class="body bg-light d-flex justify-content-center" >

<div class="bod text-center bg-white mt-5 p-5 " style="height: 30%; width: 30%; border-radius: 15px; box-shadow: 12px gray; align-items: center;">


    <form action="/reset-password/<%= token %>" method="POST">
        <label for="password" class="form-label">Enter your new password:</label>
        <input  id="password" name="password"  class="form-control ">
      <button type="submit" class="btn btn-success px-5 py-2 mt-3">Reset Password</button>
    </form>
  </div>
</div>



  